# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.out
c.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# VS Code
.vscode/

# IJ
.idea/

# Local cache/build artifacts
.gocache/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
coverage.out
